<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="ProductDetailRedirect" stopProcessing="true">
                   <match url="^product/([0-9]+)" />
                   <conditions logicalGrouping="MatchAll">
                       <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit)|(Facebot)|(Twitterbot)|(Pinterest)|(WhatsApp)" />
                   </conditions>
                   <action type="Redirect" url="http://madebyblume.com/productDetail.php?id={R:1}" appendQueryString="false" />
               </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>