<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="RewriteTest" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="%{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Facebot|Twitterbot/[0-9])" />
                    </conditions>
                    <action type="Rewrite" url="http://example.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>