html{
  background-color: #2b576b;
}

body{
  background-color: #2b576b;
  color: #000; 
}

.footer-color{
  background-color: #2c807a;
  color: #000;
}

md-card.md-default-theme, md-card {
  background-color: #fff;
  color: #000; 
}

.special-font-color{
  color: #000;
}

.logo-bg-color{
  background-color: #fff;
}

.navbar-color{
  background-color: #fff;
}

.social-color{
  background-color: #fff;
}

.md-button.md-default-theme.md-warn, .md-button.md-warn {
  color: #000;
}

.icon-color{
  color: #000;
}
